.container {
    padding: 40px;
    padding-top: 20px;
}

.cart-title {
    font-size: 300%;
    text-align: center;
    font-family: 'poppins-bolder';
}

.cart-item {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
    border-bottom: 1px solid #ddd;
    padding-bottom: 10px;
}

.cart-item img {
    width: 110px;
    height: 110px;
    object-fit: cover;
    margin-right: 20px;
    border-radius: 10px;
    margin-left: 10px;
}

/* Custom styles for the circular checkbox */
.cart-checkbox {
    appearance: none; /* Remove default checkbox style */
    width: 35px;
    height: 35px;
    border-radius: 50%; /* Make it circular */
    background-color: #dcef98; /* Set the color to grey */
    display: inline-block;
    position: relative;
    cursor: pointer;
    margin-right: 20px;
}

.cart-checkbox:checked {
    background-color: #afda02; /* Change the color when checked */
}

.cart-checkbox:checked::after {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    width: 15px;
    height: 15px;
    background-color: white;
    border-radius: 50%;
    transform: translate(-50%, -50%);
}

.product-details {
    flex-grow: 1;
}

.product-details h2 {
    margin-bottom: 10px;
    font-weight: bold;
    font-size: 30px;
}

.quantity-controls {
    display: flex;
    align-items: center;
}

.quantity-controls button {
    width: 30px;
    height: 30px;
    font-size: large;
    font-weight: bold;
    border-radius: 10px;
    border: none;
    cursor: pointer;
    color: #ffffff;
    background-color: #afda02;
}

.quantity-controls button:hover {
    color: #afda02;
    background-color: #f2f6da;
}

.quantity-controls input {
    font-size: 15px;
    font-weight: bold;
    height: 30px;
    width: 60px;
    text-align: center;
    margin: 0 10px;
    border: 1px solid #afda02;
    border-radius: 10px;
    color: #afda02;
}

.quantity-controls input:focus {
    outline: none;
}

.price {
    margin-top: 10px;
    font-weight: 999;
}

.remove-item {
    background-color: #f9a174;
    font-weight: bold;
    font-size: 15px;
    height: 30px;
    color: white;
    border: none;
    padding: 5px 10px;
    cursor: pointer;
    border-radius: 10px;
    margin-right: 10px;
}

.remove-item:hover {
    background-color: #fde2d6;
    color: #f9a174;
}

.total-amount {
    font-size: 20px;
    font-weight: bold;
    margin-top: 20px;
    margin-bottom: 20px;
    text-align: right;
    margin-right: 10px;
}

.checkout-cart-container {
    display: flex;
    justify-content: right;
}

.checkout-cart {
    background-color: #afda02;
    font-weight: bold;
    font-size: 20px;
    height: 40px;
    width: 150px;
    color: white;
    border: none;
    padding: 5px 10px;
    cursor: pointer;
    border-radius: 10px;
    margin-right: 10px;
}

.checkout-cart:hover {
    color: #afda02;
    background-color: #f2f6da;
}

@font-face {
    font-family: 'poppins-bolder';
    src: url('../assets/fonts/Poppins-Light.ttf') format('truetype');
}